.alert {
  .close {
    position: absolute;
    top: 0px;
    right: 5px;
  }
  &-local {
  }
  &-global {
    position: fixed;
    z-index: 1000;
    top: 30px;
    right: 30px;
    min-width: 350px;
    max-width: 350px;
    padding-right: 30px;
  }
}
